@charset "UTF-8";

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.carousel-inner img {
    max-height: 500px;
    width: 100%;
    margin: auto;
  }

.car-card {
margin-top: 20px;
margin-bottom: 20px;
}

.car-card img {
    width: 250px;
    height: 250px;
    margin: auto;
}